<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{options.title}}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="kss-assets/main.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{{styles}}}
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="menu" class="js-button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/demo.html">Menü-Eintrag</a></li>
            </ul>

            <div id="menu" class="side-nav fixed side-nav--fixed-expanding">
                <div class="side-nav__logo">
                    <a href="#1" class="side-nav__logo-link waves-effect">
                        <div>
                            <img class="side-nav__preview" src="kss-assets/logo.png"> {{ options.title }}
                        </div>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="./" class="waves-effect">
                            Overview
                        </a>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    {{#each menu}}
                        <li {{#if isActive }}class="active"{{/if}}>
                            <a class="waves-effect {{# if children }}js-menu-level{{/if}}" href="section-{{referenceURI}}.html">
                                <span class="side-nav__preview">{{ referenceNumber }}</span> {{ header }}
                                {{# if children }}<i class="fa fa-fw fa-caret-right menu-toggle"></i>{{/if}}
                            </a>
                            {{#if children}}
                                <ul>
                                    {{#each children}}
                                        <li>
                                            <a class="waves-effect" href="section-{{../referenceURI}}.html#kssref-{{referenceURI}}">
                                                <span class="sideb-nav__preview">{{referenceNumber}}</span> {{header}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
<article role="main" class="kss-main">
    {{#if homepage}}
        <div id="kssref-0" class="kss-section kss-section--depth-0 kss-overview kss-style">
            {{{homepage}}}
        </div>
    {{else}}

    {{!
      Display each section, in order.
      The "root" element comes first in this loop, and can be detected using
      the "#if @first" block as seen below.
    }}
        {{#each sections}}
            <{{#if @first}}div{{else}}section{{/if}} id="kssref-{{referenceURI}}"
                                                     class="kss-section kss-section--depth-{{depth}}">

                <div class="kss-style">
                    <h{{depth}} class="kss-title kss-title--level-{{depth}}">
                        <a class="kss-title__permalink" href="#kssref-{{referenceURI}}">
            <span class="kss-title__ref">
              {{referenceNumber}}
                <span class="kss-title__permalink-hash">
                    {{#if @root.hasNumericReferences}}
                        #permalink
                    {{else}}
                        #{{reference}}
                    {{/if}}
                </span>
            </span>
                            {{header}}
                        </a>
                    </h{{depth}}>

                    {{#if description}}
                        <div class="kss-description">
                            {{{description}}}
                        </div>
                    {{/if}}

                    {{#if parameters}}
                        <div class="kss-parameters__title">Parameters:</div>
                        <ul class="kss-parameters">
                            {{#each parameters}}
                                <li class="kss-parameters__item">
                                    <div class="kss-parameters__name"><code>{{name}}</code></div>
                                    <div class="kss-parameters__description">
                                        {{{description}}}
                                        {{#if defaultValue}}
                                            <div class="kss-parameters__default-value">
                                                Defaults to: <code>{{defaultValue}}</code>
                                            </div>
                                        {{/if}}
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>

                {{#if example}}
                    <div class="kss-modifier__wrapper">
                        <div class="kss-modifier__heading kss-style">
                            Example{{#if modifiers}}s{{/if}}
                        </div>

                        {{#if modifiers}}
                            <div class="kss-modifier__default-name kss-style">
                                Default styling
                            </div>
                        {{/if}}

                        <div class="kss-modifier__example">
                            {{{example}}}
                        </div>

                        {{#each modifiers}}
                            <div class="kss-modifier__name kss-style">
                                {{name}}
                            </div>
                            <div class="kss-modifier__description kss-style">
                                {{{description}}}
                            </div>
                            <div class="kss-modifier__example">
                                {{{markup}}}
                            </div>
                        {{/each}}
                    </div>
                    {{#if example}}
                        <div class="kss-markup kss-style">
                            <pre class="prettyprint linenums lang-html"><code
                                    data-language="html">{{markup}}</code></pre>
                        </div>
                    {{/if}}
                {{/if}}

                {{#if sourceFile.name}}
                    <div class="kss-source kss-style">
                        Source: <code>{{sourceFile.name}}</code>, line {{sourceFile.line}}
                    </div>
                {{/if}}

            </{{#if @first}}div{{else}}section{{/if}}>
        {{/each}}
    {{/if}}
</article>
    </div>

    <script type="text/javascript" src="kss-assets/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="kss-assets/vendors/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.js-button-collapse').sideNav();
            $('.js-menu-level').click(function () {
                $(this).parent().toggleClass('active');
                return false;
            });
        });
    </script>
    {{{scripts}}}
    </body>
</html>